.mainHeaderWrapper {
    display: flex;
    justify-content: center;
    margin-top: 50%;

    .mainHeader {
        font-size: 68px;
        text-align: center;
        letter-spacing: 5px;
        color: #fff;
    }
}
