.header-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 25px;
  // background-color: #5fa6bf;
  color: #000;
  align-items: center;
}
.controls-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .logo-wrapper {
//   img {
//     height: 100px;
//   }
// }