<div class="wrapperDescription">
  <form class="offerForm">
    <h6 class="formHeader">Pick-up & drop-off</h6>
    <hr>
    <div class="form-group">
      <label class="form__labels" for="pickUp">Pick-up</label>
      <input type="text" class="form-control" id="fromPoint" aria-describedby="emailHelp" placeholder="Example: Kyiv" #fromInput>
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group">
      <label class="form__labels" for="DropOff">Drop-off</label>
      <input type="text" class="form-control" id="toPoint" placeholder="Example: Lviv" #toInput>
    </div>

    <div class="form-group">
      <label class="form__labels" for="DropOff" placement="right" ngbTooltip="A point where you can pick up or drop off cargo along the way.">Stopovers:</label>
      <p>Now add your stopover points - offering to pick up and drop off cargo along
        <br> the way is a sure way to fill your car.</p>
      <input type="text" class="form-control" id="stopOverPoint" placeholder="Drive through: Rivne" #wayPoint>
      <ul *ngIf="wayPoints?.length > 0">
        <li *ngFor="let waypoint of wayPoints" class="stopOver">
          <span> Stopover point : {{waypoint.location}}</span>
          <span class="deleteStopOverPoint" (click)="deleteWayPoint(waypoint)"> x</span>
        </li>
      </ul>
      <p class="drivingDistance">
        Total driving distance : {{distance}}m
      </p>
    </div>

    <h6 class="formHeader">Date & time</h6>
    <hr>
    <div class="form-group">
      <label class="form__labels" for="pickUp">Departure date/time:</label>
      <input id="datetimeFrom" class="form-control" type="datetime-local">
    </div>
    <div class="form-group">
      <label class="form__labels" for="pickUp">Arrived date/time:</label>
      <input id="datetimeFinish" class="form-control" type="datetime-local">
    </div>
    <button class="btn btn-primary">Continue</button>
  </form>
</div>
<div id="map" #map>
  map
</div>