.offerForm {
    background-color: #fff3e6;
    padding: 20px;
    margin: 20px;
    border: 1px solid#9a6356;
    min-width: 480px;
    .formHeader {
        font-size: 22px;
        padding: 10px;
    }
    .form-group {
        .form__labels {
            font-size: 18px;
            color: #137ea8;
        }
        .stopOver {
            color: 	#9a6356;
            list-style-type: none;
            &:hover {
                cursor: pointer;
            }
            .deleteStopOverPoint {
                font-size: 22px;
                color: #9a6356;
                cursor: pointer;
                margin-left: 20px;
            }
        }
        .drivingDistance {
            color: 	#137ea8;
            font-size: 24px;
        }
    }
}

#map {
    height: 600px;
    width: 600px;
    margin-top: 20px;
}
