<div class="ride-offer-wrapper">
  <div class="ride-offer">
    <div class="ride-offer-img">
      <img src="../../../assets/homeblock_driver_desktop.jpg" alt="">
    </div>
    <div class="ride-offer-action">
      <div class="ride-offer-action__header">
        <h3>Where do you want to <br> drive to?</h3>
      </div>
      <div class="ride-offer-action__paragraph">
        <h6>Let’s make this the least expensive journey <br> you’ve ever made.</h6>
      </div>
      <div class="ride-offer-action__offer-button">
        <button type="button" class="offerButton btn btn-lg btn-outline-primary">Offer a carriage</button>
      </div>
    </div>
  </div>
</div>